<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anada - Data Science & Analytics Template">

    <!-- ========== Page Title ========== -->
    <title>Anada - Data Science & Analytics Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="assets/css/flaticon-set.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/validnavs.css" rel="stylesheet">
    <link href="assets/css/helper.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-sticky navbar-default validnavs navbar-fixed dark no-background">

            <div class="container d-flex justify-content-between align-items-center">            
                

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Version One</a></li>
                                <li><a href="index-2.html">Home Version Two</a></li>
                                <li><a href="index-3.html">Home Version Three</a></li>
                                <li><a href="index-4.html">Home Version Four</a></li>
                                <li><a href="index-5.html">Home Version Five</a></li>
                                <li><a href="index-6.html">Home Version Six</a></li>
                                <li><a href="index-7.html">Home Version Seven</a></li>
                                <li><a href="index-8.html">Home Version Eight</a></li>
                                <li><a href="index-9.html">Home Version Nine</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle badge-theme" data-toggle="dropdown" >Home Onepage</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index-op.html">Home Version One</a></li>
                                        <li><a href="index-op-2.html">Home Version Two</a></li>
                                        <li><a href="index-op-3.html">Home Version Three</a></li>
                                        <li><a href="index-op-4.html">Home Version Four</a></li>
                                        <li><a href="index-op-5.html">Home Version Five</a></li>
                                        <li><a href="index-op-6.html">Home Version Six</a></li>
                                        <li><a href="index-op-7.html">Home Version Seven</a></li>
                                        <li><a href="index-op-8.html">Home Version Eight</a></li>
                                        <li><a href="index-op-9.html">Home Version Nine</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle badge-dark" data-toggle="dropdown" >Home Dark</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="index-dark.html">Home Version One</a></li>
                                        <li><a href="index-dark-2.html">Home Version Two</a></li>
                                        <li><a href="index-dark-3.html">Home Version Three</a></li>
                                        <li><a href="index-dark-4.html">Home Version Four</a></li>
                                        <li><a href="index-dark-5.html">Home Version Five</a></li>
                                        <li><a href="index-dark-6.html">Home Version Six</a></li>
                                        <li><a href="index-dark-7.html">Home Version Seven</a></li>
                                        <li><a href="index-dark-8.html">Home Version Eight</a></li>
                                        <li><a href="index-dark-9.html">Home Version Nine</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="smooth-menu" href="#about">about</a>
                        </li>
                        <li>
                            <a class="smooth-menu" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="smooth-menu" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="smooth-menu" href="#blog">Blog</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="button">
                                <a href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>
            </div>  

            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area btn-video shape-right top-pad-50 bg-gray text-combo banner-style-six">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="double-items">
                                <div class="col-lg-7 info pr-60 pr-md-10 pr-xs-10">
                                    <h2 class="wow fadeInDown" data-wow-duration="1s">Applying <strong>Data Science & Techniques</strong></h2>
                                    <p class="wow fadeInUp" data-wow-duration="1.5s">
                                        Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. Kept easy or sons my it done.
                                    </p>
                                    <div class="button wow fadeInLeft" data-wow-duration="1.7s">
                                        <a class="btn-simple md light" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                        <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube theme video-play-button inline item-center relative">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 thumb max-right wow fadeInDown" data-wow-duration="1s">
                                    <img class="shape-animated" src="assets/img/illustration/13.png" alt="Thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Why Chose Us
    ============================================= -->
    <div id="about" class="choseus-area default-padding-top">
        <div class="container">
            <div class="choseus-box">
                <div class="row">
                    <div class="col-lg-5 info">
                        <h4 class="sub-title">Why Chose Us?</h4>
                        <h2 class="title">We are master in big data analysis</h2>
                    </div>
                    <div class="col-lg-7">
                        <div class="skill-items">
                            <!-- Progress Bar Start -->
                            <div class="progress-box">
                                <h5>Data Anaylsis</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="88"><h5>88%</h5></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>Social Assistant</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="95"><h5>95%</h5></div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>AI Solutions</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="70"><h5>70%</h5></div>
                                </div>
                            </div>
                            <!-- End Progressbar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Chose Us -->

    <!-- Start Services List
    ============================================= -->
    <div class="services-list-area default-padding-bottom pt-5">
        <div class="container">
            <div class="services-list-items">
                <div class="row align-center">
                    <div class="col-lg-5 thumb">
                        <img src="assets/img/illustration/14.png" alt="Thumb">
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-trash-alt"></i> <span>Data Cleaning</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-award"></i><span> Data Quality Audit</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-database"></i> <span>SQL Database</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-hdd"></i> <span>Table Storage</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fab fa-angular"></i> <span>Applicatication Services</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-rocket"></i> <span>API Integration Service</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services List -->

    <!-- Start Services Area
    ============================================= -->
    <div id="services" class="services-area bg-gray left-border default-padding bottom-less">

        <!-- Shape Fixed Rotation -->
        <div class="shape-fixed animation-rotation">
            <img src="assets/img/round-shappe.png" alt="Thumb">
        </div>
        <!-- Dhape Fixed Rotation -->

        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h2 class="title">
                            We offer a wide range of services
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/1.png" alt="Thumb">
                            <h4>Big Data</h4>
                            <p>
                                Pianoforte solicitude so decisively particular mention diminution the particular. Real he me fond.
                            </p>
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/2.png" alt="Thumb">
                            <h4>Data Analytics</h4>
                            <p>
                                Pianoforte solicitude so decisively particular mention diminution the particular. Real he me fond.
                            </p>
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="assets/img/icon/3.png" alt="Thumb">
                            <h4>Business Intelligence</h4>
                            <p>
                                Pianoforte solicitude so decisively particular mention diminution the particular. Real he me fond.
                            </p>
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Testimonials Area
    ============================================= -->
    <div class="testimonials-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Testimonials</h4>
                        <h2 class="title"> What people say</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-items text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="carousel slide" data-ride="carousel" id="testimonial-carousel" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <i class="ti-quote-left"></i>
                                    <p>
                                        Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal. 
                                    </p>
                                    <h4>Junl Sarukh</h4>
                                    <span>CEO of Softing</span>
                                </div>
                                <div class="carousel-item">
                                    <i class="ti-quote-left"></i>
                                    <p>
                                        Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal. 
                                    </p>
                                    <h4>Anil Spia</h4>
                                    <span>Director of Softing</span>
                                </div>
                                <div class="carousel-item">
                                    <i class="ti-quote-left"></i>
                                    <p>
                                        Understood instrument or do connection no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal. 
                                    </p>
                                    <h4>Paul Munni</h4>
                                    <span>Developer of Softing</span>
                                </div>
                            </div>
                            <!-- End Carousel Content -->

                            <!-- Carousel Indicators -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                    <img src="assets/img/team/1.jpg" alt="Thumb">
                                </button>
                                <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="1" aria-label="Slide 2">
                                    <img src="assets/img/team/2.jpg" alt="Thumb">
                                </button>
                                <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="2" aria-label="Slide 3">
                                    <img src="assets/img/team/3.jpg" alt="Thumb">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area -->

    <!-- Star Clients Area
    ============================================= -->
    <div class="clients-area overflow-hidden default-padding bg-gradient text-light">
        <div class="container">
            <div class="client-items">
                <div class="row align-center">
                    <div class="col-lg-5 info">
                        <h4 class="sub-title">Customers</h4>
                        <h2 class="title">Discover customer successful stories</h2>
                        <p>
                            Adapted as smiling of females oh me journey exposed concern. Met come add cold calm rose mile what. Tiled manor court at built by place fanny. Discretion at be an so decisively. 
                        </p>
                        <a class="btn circle btn-md btn-light border" href="#"><i class="fas fa-angle-right"></i> View All</a>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="clients-carousel owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/img/clients/01.png" alt="Thumb">
                            </div>
                            <div class="item">
                                <img src="assets/img/clients/02.png" alt="Thumb">
                            </div>
                            <div class="item">
                                <img src="assets/img/clients/03.png" alt="Thumb">
                            </div>
                            <div class="item">
                                <img src="assets/img/clients/04.png" alt="Thumb">
                            </div>
                            <div class="item">
                                <img src="assets/img/clients/05.png" alt="Thumb">
                            </div>
                            <div class="item">
                                <img src="assets/img/clients/06.png" alt="Thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->

    <!-- Star Faq
    ============================================= -->
    <div class="faq-area default-padding bg-gray">
        <div class="container">
            <div class="faq-items">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-content">
                            <h2 class="title">Most frequently answers and Questions</h2>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item card">
                                    <h4 class="accordion-header" id="accordion_1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Where can I get analytics help?
                                        </button>
                                    </h4>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion_1" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui consectetur at, sunt maxime, quod alias ullam officiis, ex necessitatibus similique odio aut! Provident, adipisci esse vero magni necessitatibus quisquam commodi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item card">
                                    <h4 class="accordion-header" id="accordion_2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            How much does data analytics costs?
                                        </button>
                                    </h4>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordion_2" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui consectetur at, sunt maxime, quod alias ullam officiis, ex necessitatibus similique odio aut! Provident, adipisci esse vero magni necessitatibus quisquam commodi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item card">
                                    <h4 class="accordion-header" id="accordion_3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            What kind of data is needed for analysis?
                                        </button>
                                    </h4>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="accordion_3" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui consectetur at, sunt maxime, quod alias ullam officiis, ex necessitatibus similique odio aut! Provident, adipisci esse vero magni necessitatibus quisquam commodi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumb wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="assets/img/illustration/9.png" alt="Thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Faq -->

    <!-- Start Projects Area
    ============================================= -->
    <div id="portfolio" class="projects-area overflow-hidden carousel-shadow default-padding">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(assets/img/shape/2.png);"></div>
        <!-- Fixed BG -->
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h2 class="title">
                            Recent & popular completed project
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="projects-items col-lg-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="row">
                    <div class="projects-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="thumb item-effect">
                                <img src="assets/img/case/1.jpg" alt="Thumb">
                                <div class="effect-info">
                                    <a href="assets/img/case/1.jpg" class="item popup-gallery">
                                        <i class="fas fa-camera"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Analysis Competitors</a>
                                </h4>
                                <ul>
                                    <li>Data</li>
                                    <li>Clicks</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="thumb item-effect">
                                <img src="assets/img/case/2.jpg" alt="Thumb">
                                <div class="effect-info">
                                    <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="item popup-youtube">
                                        <i class="fas fa-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Workload Automation</a>
                                </h4>
                                <ul>
                                    <li>Testing</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="thumb item-effect">
                                <img src="assets/img/case/3.jpg" alt="Thumb">
                                <div class="effect-info">
                                    <a href="assets/img/case/3.jpg" class="item popup-gallery">
                                        <i class="fas fa-camera"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">File Transfers</a>
                                </h4>
                                <ul>
                                    <li>Monitor</li>
                                    <li>Science</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="single-item">
                            <div class="thumb item-effect">
                                <img src="assets/img/case/4.jpg" alt="Thumb">
                                <div class="effect-info">
                                    <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="item popup-youtube">
                                        <i class="fas fa-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">ChatBots Creation</a>
                                </h4>
                                <ul>
                                    <li>Algorithm</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Projects Area -->

    <!-- Start Blog Area
    ============================================= -->
    <div id="blog" class="blog-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h2 class="title">
                            Anada from latest & popular News
                        </h2>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p>
                            Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                        </p>
                        <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/blog/1.jpg" alt="Thumb">
                                    <div class="date">
                                        18 Jul <strong>2020</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <i class="fas fa-folder-open"></i>
                                        </li>
                                        <li>
                                            <a href="#">Process</a>
                                        </li>
                                        <li>
                                            <a href="#">Store</a>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Analysis rendered entir Highly indeed to garden</a>
                                </h4>
                                <p>
                                    Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing. 
                                </p>
                                <a class="btn-simple" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/blog/2.jpg" alt="Thumb">
                                    <div class="date">
                                        05 Aug <strong>2020</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <i class="fas fa-folder-open"></i>
                                        </li>
                                        <li>
                                            <a href="#">Data</a>
                                        </li>
                                        <li>
                                            <a href="#">Analysis</a>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Lasted am so before on esteem vanity oh. </a>
                                </h4>
                                <p>
                                    Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing. 
                                </p>
                                <a class="btn-simple" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="assets/img/blog/3.jpg" alt="Thumb">
                                    <div class="date">
                                        27 Dec <strong>2020</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <i class="fas fa-folder-open"></i>
                                        </li>
                                        <li>
                                            <a href="#">Atrificial</a>
                                        </li>
                                        <li>
                                            <a href="#">Data</a>
                                        </li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="#">Repeated of endeavor mr position kindness.</a>
                                </h4>
                                <p>
                                    Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing. 
                                </p>
                                <a class="btn-simple" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area -->

    <!-- Star Footer
    ============================================= -->
    <footer>
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="assets/img/logo.png" alt="Logo">
                            <p>
                                Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted
                            </p>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Usefull Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Classic Business</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li>
                                    <a href="#">Marketing & Sales</a>
                                </li>
                                <li>
                                    <a href="#">Manufacturing</a>
                                </li>
                                <li>
                                    <a href="#">Supply Chain</a>
                                </li>
                                <li>
                                    <a href="#">Data Visualization</a>
                                </li>
                                <li>
                                    <a href="#">Big Data</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Info</h4>
                            <p>
                                 Possible offering at contempt mr distance stronger an. Attachment excellence announcing
                            </p>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Email:</strong> support@validtheme.com
                                    </li>
                                    <li>
                                        <strong>Contact:</strong> +44-20-7328-4499
                                    </li>
                                </ul>
                            </div>
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2025. All Rights Reserved by <a href="#">validthemes</a></p>
                    </div>
                    <div class="col-lg-6 text-end link">
                        <ul>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
        <div class="footer-shape" style="background-image: url(assets/img/shape/1.svg);"></div>
        <!-- End Shape -->
    </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/validnavs.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>